html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(242, 242, 242);
}

canvas {
  display: block;
  touch-action: auto;
}

.main {
  background-color: rgb(255, 255, 255);
  height: 600px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title {
  /* color: rgb(0, 214, 142); */
}

@media (max-width: 800px) {
  .title {
    font-size: 30px;
    height: 10vh;
  }
  .main {
    width: 100vw;
    padding-top: 40vh;
  }
  .menu-item {
    height: 40px;
  }
}
@media (min-width: 801px) {
  .title {
    font-size: 20px;
  }
}
